html,
body {
  max-width: 100%;
  overflow-x: hidden;

}
li{
    list-style-type: none;
}
.descrp21{
    background-color: #e7e7e7;
    margin-top: -35px;
    padding-top: 20px;
}
.index-header img{
    margin-top: 20px;
    margin-left: 20px;
}
.backimg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: -1;
    height: 40%;
}
.summit{
    width: 100%;
    background: rgba(255, 255, 255, 0.829);
    background-size: cover;
}
.title-h1 {
    color: #ec5242;
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 2%;
    margin-top: 1%;
}

.title-h2{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #ec5242;
}

.descript{
    margin: 3%;
    width: 93%;
    border: 3px solid #fff;
}
.descrp{
    background-color: #e7e7e7;
    width: 100%;
}
.time-venue{
    margin: 3%;
    width: 93%;
}
.time-venue >h4{
    color: #585858;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 1px;
}
.time-venue >h6{
    color: #585858;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: bolder;
    padding-bottom: 46px;
}

.main-program{
    background-color: #272a31;
    display: flex;
    flex-direction: column;
}

.programtitle{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #fff;
    padding-top: 8%;
}

.programline{
    height: 3px;
    background-color: #ec5242;
    width: 40px;
    margin-left: 47%;
}
.program{
    display: flex;
    flex-direction: column;
}

.program1{
    display: flex;
    flex-direction: row;
    margin: 10px 5%;
    align-items: center;
    background-color: rgba(203, 194, 228, 0.1);
}

.imgicon{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.imgicon >img{
    width: 50%;
}

.titleprogram{
    width: 35%;
    color: #ec5242;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-right: 5%;
}
.programdescr{
    width: 55%;
    padding-right: 5%;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
}
.programdescr >p{
    color: #fff;
}

.joinbutton{
    display: flex;
    justify-content: center;
}
.buttojoin{
    width: 200px;
    background-color: #ec5242;
    border: none;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 0;
}

.speakersect{
    background-color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
.speaktitle >h1{
    color: #272a31;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: bolder;
    margin-top: 60px;
    margin-bottom: 20px;
}
.h1line{
    height: 3px;
    background-color: #ec5242;
    width: 40px;
}
.cards{
    margin-left: 2%;
}
.speakerbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    width: 90%;
    min-height: 150px;
}
.speaker1{
    width: 40%;
    margin-right: 3%;
}
.speaker1 >img{
    height: 150px;
    width: 100%;
    position: initial;
}
.temp2{
    width: 55%;
    margin-top: -5px;
}
.pad h3{
    color: #272a31;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 5px;
}
.pad h5{
    color: #ec5242;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
}
.temp2 p{
    color: #272a31;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}
.button{
    padding: 4%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.butmore{
    border: 2px solid gray;
    padding: 20px;
    width: 80%;
    text-align: center;
    border-radius: 4px;
    color: #272a31;
}
.Aboutsummit{
    background-color: #f5f5f5;
    left: 0;
    margin-top: -6px;
}
.Aboutsummit .title{
    text-align: center;
}
.Aboutsummit .descript{
    margin: 3%;
    width: 93%;
    border: 1px solid #cecaca;
    background-color: #fff;
    text-align: center;
}
.Aboutsummit .descript p{
    margin: 3%;
    width: 90%;
}
.Aboutsummit .time-venue{
    text-align: center;
}

.Aboutsummit .time-venue h6{
    margin-top: -9px;
    text-decoration-line: underline;
}

.creative{
  
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #cecaca;
}
.creative .programtitle{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #585858;
    font-weight: 600;
    width: 70%;
    margin-left: 15%;
    padding-top: 8%;
}

.creative .programline{
    height: 2px;
    background-color: #ec5242;
    width: 40px;
    margin-left: 45%;
    margin-top: 10px;
}
.creative .imgicon{
    margin-left: 30%;
    width: 35%;
    padding-bottom: 45px;
}
.creative .program p{
    width: 80%;
    margin-left: 9%;
}
.pastceremony{
    padding: 8%;
    min-height: 400px;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pastceremony .titleprogram h3{
    color: #272a31;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 600;
}
.pastceremony .titleprogram{
    width: 100%;
    text-align: center;
}
.pastceremony .programline{
    height: 2px;
    background-color: #ec5242;
    width: 40px;
    margin-left: -10%;
    margin-top: -20px;
}

.pastceremony .lastceremony .ceremonylast{
    min-height: 300px;
    height: auto;
    width: 350px;
    background: rgb(238, 82, 60, 0.65);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    margin: 5% 0;
    text-align: center;
}
.pastceremony .lastceremony .ceremonylast img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index: -1;
    height: 100%;
}
.pastceremony .lastceremony .ceremonylast .pastyear{
    padding-top: 30%;
}
.pastceremony .lastceremony .ceremonylast .pastyear h1{    
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: -10px;
}
.pastceremony .lastceremony .ceremonylast .pasttext{
    margin-top: 2%;
}
.pastceremony .lastceremony .ceremonylast p{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.partner{
    min-height: 200px;
    height: auto;
    background-color: #424146;
    position: absolute;
    left: 0;
    right: 0;
}
.partnertitle{
    padding: 20px 0;
}
.partnertitle h2{
    color: rgb(196, 196, 196);
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
}
.partnerline{
    height: 2px;
    background-color: #ec5242;
    width: 40px;
    margin-left: 47%;
    margin-top: -28px;
}
.partnerlogo{
    padding: 10px 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.partnerlogo .partnerimg{
    width: 80px;
}
.partnerlogo .partnerimg img{
    width: 100%;
}
.footer{
    background-color: white;
    min-height: 100px;
    height: auto;
    padding: 27px 10%;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 201px;
}
.footerrlogo{
    width: 50%;
    margin-top: 35px;
}
.footerrlogo img{
    width: 40%;
}
.copyrighttext{
    width: 50%;
    padding: 20px 0;
}
.copyrighttext p{
    color: var(--dark);
    margin-bottom: 20px;
    font-family: var(--title_font);
}